{% extends '::base.html.twig' %}
{% block title %}{{ parent() }}: Edit Book{% endblock %}

{% block body -%} {#the '-' trims the whitespace after the tag#}
    <h1>Edit Book</h1>

    {{ form(form) }}

    <ul>
        <li><a href="{{ path('book') }}">Book Manager</a></li>
    </ul>
{% endblock %}