{% extends '::base.html.twig' %}
{% block title %}{{ parent() }}: Create New Book{% endblock %}

{% block body -%}
<h1>Create New Book</h1>

{{ form(form, {attr: {novalidate:'novalidate'}}) }}

    <ul>
        <li><a href="{{ path('book') }}">Book Manager</a></li>
    </ul>
{% endblock %}